<div class="container">
    <div class="card" style="width: 50rem;">
        <div class="card-header">
            <p>You added {{students.length}} Students</p>
        </div>
        <div class="row">
            <div class="col-md-9"><input #inputFirstName placeholder="FirstName"   type="text" class="form-control"></div>
            <div class="col-md-9"><input #inputLastName placeholder="LastName"   type="text" class="form-control"></div>
            <div class="col-md-9"><input #inputMobile placeholder="Mobile"   type="text" class="form-control"></div>
            <div class="col-md-9"><input #inputEmail placeholder="Email"   type="text" class="form-control"></div>
            <div class="col-md-9"><input #inputNationalID placeholder="NationalID"   type="text" class="form-control"></div>
            <div class="col-md-9"><input #inputAge placeholder="Age"   type="number" class="form-control"></div>
            <div class="col-md-3">
                <button type="button" (click)="add(inputFirstName.value,inputLastName.value,inputMobile.value,inputEmail.value,inputNationalID.value,+inputAge.value); inputFirstName.value='';inputLastName.value=''; inputMobile.value=''; inputEmail.value=''; inputNationalID.value='';  inputAge.value='';"  class="btn btn-primary">Add</button>
                
            </div>
        </div>
        <div class="row">
            <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Mobile</th>
                    <th scope="col">Email</th>
                    <th scope="col">NationalID</th>
                    <th scope="col">Age</th>
                    <!-- <th scope="col">Date</th> -->
                    <th scope="col">Delete</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of students;let currentIndex=index">
                    <th scope="row">{{currentIndex+1}}</th>
                    <td>{{item.Name}}</td>
                    <td>{{item.Mobile}}</td>
                    <td>{{item.Email}}</td>
                    <td>{{item.NationalID}}</td>
                    <td>{{item.Age}}</td>
                      <!-- <td>
                        1-1-2000
                      </td> -->
                    <!-- <td> <input  type="checkbox" (change)="update(item)" [checked]="item.IsDone" > </td> -->
                    <td> 
                        <button type="button" (click)="delete(currentIndex)" class="btn btn-danger">Delete</button>
                    </td>
                  </tr>
                  <!-- <tr  >
                      <td colspan="3">No tasks found</td>
                  </tr>
                  <tr  >
                    <td colspan="3">Loading...........</td>
                </tr> -->
                </tbody>
              </table>
        </div>
      </div>
   
</div>