<input #inputFirstName type="text" placeholder="First Name" required>
<input #inputLastName type="text" placeholder="Last Name" required>
<input #inputAge type="number" placeholder="Age" required>

<button type="button"(click)= "add(inputFirstName.value,inputLastName.value,+inputAge.value); inputFirstName.value=''; inputLastName.value='';  inputAge.value='';">Add</button>
<h1>You added {{students.length}} Students</h1>


<table>
    <tr>
        <td>#</td>
        <td>Full Name</td>
        <td>Age</td>
        <td>Action</td>
    </tr>
    <tr *ngFor="let item of students;let currentIndex=index">
        <td>{{currentIndex+1}}</td>
        <td [class.redColor]="item.age>30">{{item.firstName.concat(" "+item.lastName)}}</td>
        <td> <input type="number" [(ngModel)]="item.age"></td>
        <td>
            <button (click)="delete(currentIndex)">DELETE</button>
        </td>
    </tr>
   
</table>